<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>food</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
<tbody>
<% meals.forEach(function(m) {%>
    <tr>
        <td><%= m.food %></td>
        <td>
          <a href="/meals/<%= m._id %>">DETAILS</a>
        </td>
       <td>
        <form action="/meals/<%= m._id %>?_method=DELETE" method="POST">
          <button type="submit">DELETE</button>
        </form>
      </td>
    </tr>
    <% }); %>
</tbody>
</table>



<%- include('../partials/footer') %>