<%- include('../partials/header') %>

<section id="show-page">
    <div>Food: </div>
    <div><%= meal.food %></div>
    <div>Calories: </div>
    <div><%= meal.calories %></div>
    <div>Carbs: </div>
    <div><%= meal.carbs %></div>
    <div>Protein: </div>
    <div><%= meal.protein %></div>
    <div>Fat: </div>
    <div><%= meal.fat %></div>
   <a href="/meals/<%= meal._id %>/edit">EDIT</a>



<%- include('../partials/footer') %>